<br><br><br><br><br><br><br><br><br><br>
<h2><%= links %></h2>
<li><a href= "/">home</a></li>
<li><a href="/student">Student Page</a></li>
<li><a href= "/teacher">Teacher Page</a></li>
<li><a href= "/subject">Subject Page</a></li>
