<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <title>Edit-Subject</title>
</head>

<body>
  <h1>Teacher's Edit Data</h1>
  <ul id="list">
    <li><a href="/">Home</a></li>
    <li><a href="/subject">All Subject Data</a></li>
  </ul>

  <br>
  
  <form action="/subject/edit/<%= dataSubject.id %>" method="POST">
    Subject Name:  <input type="text" name="subject_name" value="<%= dataSubject.subject_name %>">
    <br><br>
    <button type="submit">edit data</button>
  </form>
</body>

</html>