<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Teacher</title>
  </head>
  <body>
    <h1>Add Teacher Data</h1>
    <% if (typeof err !== 'undefined') { %>
        <strong><%= err%></strong>
    <% } %>
    <br>
    <form action="/teacher/add" method="POST">
        First Name :<br>
        <input type="text" name="firstName">
        <br><br>
        Last Name :<br>
        <input type="text" name="lastName">
        <br><br>
        Email :<br>
        <input type="email" name="email">
        <br><br>
        Subject Id :<br>
            <select name="SubjectId" size='1'>
              <% dataTeacher.forEach(teacher => { %>
                <option value="<%= teacher.id %>">
                  <%= teacher.subjectName %>
                </option>
                <%})%>
            </select>
        <br><br>
        <button>Submit</button>
    </form>
    <br>
    <a href="/teacher">Back</a>
  </body>
</html>
