<!DOCTYPE html>
<html>
    <head>
        <title>Add Subject</title>
    </head>
    <body>
        <h1>Add a new Subject here ...</h1>
        <form action="/subject/add" method="post">
            <fieldset>
              SubjectName:<br>
              <input type="text" name="subjectName"><br>
              <input type="submit">
            </fieldset>
          </form>
    </body>
</html>