<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>
<body>
    <h1>Add a new Student here ...</h1>    
    <form action="/student/add" method="POST">
        FirstName:<br>
        <input type="text" name="firstName"><br>
        LastName:<br>
        <input type="text" name="lastName"><br>
        Email:<br>
        <input type="text" name="email"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>