<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Subject Form</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h2>Subject Form</h2>
	<h3>Fill the form to add new subject</h3>
	<div>
		<form action="/subjects/add" method="post">
			Subject Name: <input type="text" name="subjectName"><br><br>
			<button type="submit" onclick="alert('Succesfully added')" value="submit">Add</button>
		</form>
	</div>
</body>
</html>
