<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(error !== null){ %> 
       <p><%- error %></p>
    <% } %>
        <form action="/teachers/add" method="POST">
            First name:<br>
            <input type="text" name="firstName" placeholder="first Name">
            <br>
            Last name:<br>
            <input type="text" name="lastName" placeholder="last Name">
            <br>
            Email:<br>
            <input type="text" name="email" placeholder="email">
            <br>
            SubjectId:<br>
            <select name="SubjectId">
                <option value="" >--pilih subject--</option>    
                <% subjects.forEach(function(el){ %>
                    <option value="<%- el.id %>"><%- el.subjectName %></option>
                <% }) %>
            </select>
            
            <br><br>
            <input type="submit" value="add teacher">
        </form> 
</body>
</html>
