<!DOCTYPE html>
<html>
    <head>
        <title>Add Teacher</title>
    </head>
    <body>
        <h1>Add a new teacher here ...</h1>
        <form action="/teacher/add" method="post">
            <fieldset>
              FirstName:<br>
              <input type="text" name="firstName"><br>
              LastName:<br>
              <input type="text" name="lastName"><br>
              Email:<br>
              <input type="text" name="email"><br>
              SubjectId:<br>
              <input type="text" name="SubjectId"><br>
              <input type="submit">
            </fieldset>
          </form>
    </body>
</html>