<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Teacher Data</title>
</head>
<body>
    <h1>Edit Teacher Data</h1>
    <form action="/teachers/edit/<%=dataTeacher.id%>" method="post">
        First name:<br>
        <input type="text" name="firstName">
        <br><br>

        Last name:<br>
        <input type="text" name="lastName">
        <br><br>

        Email: <br>
        <input type="text" name="email">
        <br><br>

        <input type="submit" value="Submit">
        <br><br>

      </form> 
      
</body>
</html>