<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Student Data</title>
</head>
<body>
    <h1>Edit Students Data</h1>
    <!-- <%=JSON.stringify(dataStudent)%> -->
    <form action="/students/edit/<%=dataStudent.id%>" method="post">
        First name:<br>
        <input type="text" name="firstName">
        <br><br>

        Last name:<br>
        <input type="text" name="lastName">
        <br><br>

        Email: <br>
        <input type="text" name="email">
        <br><br>

        <input type="submit" value="Submit">
        <br><br>

      </form> 
      
</body>
</html>