<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Data Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="./main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>Edit Data Teacher</h1>
        <form action="/teacher/edit/<%= data.id %>" method="post">
            First name:<br>
            <input type="text" name="newFirstName" value="<%= data.first_name %>">
            <br>
            Last name:<br>
            <input type="text" name="newLastName" value="<%= data.last_name %>">
            <br>
            Email:<br>
            <input type="text" name="newEmail" value="<%= data.email %>">
            <br><br>
            <input type="submit" value="Submit">
        </form>
</body>
</html>