<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Subject Data</title>
</head>
<body>
    <h1>Edit Subject Data</h1>
    
    <form action="/subject/edit/<%=dataSubject.id%>" method="post">
        Subject Name:<br>

        <input type="text" name="subject_name">
        <br><br>

      </form> 
      
</body>
</html>