<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Subject Data</title>
</head>
<body>
    <h1>Add Subject Data</h1>
    <form action="/subject/add" method="post">
        Subject Name:<br>
        <input type="text" name="subject_name">
        <br><br>

        <input type="submit" value="Submit">
        <br><br>

      </form> 
      
</body>
</html>