<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Wellcome to <%= school %></h1>
    <h4><a href="/teacher">List Data Teachers</a></h4>
    <h4><a href="/subjects">List Data Subjects</a></h4>
</body>
</html>