<html>
<head>
  <title>Hacktiv 8 Homepage</title>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <div class="jumbotron"  style="padding:40px;">
      <img src="https://hacktiv8.com/img/logo-hacktiv8_bordered--md5--f7ee5fc69819b5ef3849344c119f5e18.png" />
      <h1>Welcome to</h1>
      <h2>Hacktiv8 Indonesia</h2>
      <h2>Sequelize + Express + Postgres + Association 1 to M</h2>
    </div>
    <div class="container text-center">
        <!-- <button type="button" class="btn btn-info" onclick="window.location.href='/student'">Students</button> -->
        <button type="button" class="btn btn-warning" onclick="window.location.href='/teacher'">Teachers</button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='/subject'">Subjects</button>
    </div>
  </div>
</body>
</html>
