<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>My School</h1>
    <h2>
        <ul>
            <li>Student</li>
            <li><a href="/teachers">Teacher</a></li>
            <li><a href="/subjects">Subject</a></li>
        </ul>    
    </h2>
</body>
</html>