<!DOCTYPE html>
<html>
<head>
    This is Index
</head>
<body>
    <br><br>
    <a href="students/">Go To Student</a>
    <br><br>
    <a href="teachers/">Go To Teacher</a>
    <br><br>
    <a href="subject/">Go To Subject</a>

</body>
</html>