<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
</head>

<body>

<h1>Homepage</h1>

<br>

<h2><a href="/teacher">Teacher</a></h2><br>
<h2><a href="/subject">Subject</a></h2><br>

</body>
</html>