<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
<center>
<h1>Homepage</h1>
</center>
<br>
<center>
<h2><a href="/teacher">Teacher</a></h2><br>
<h2><a href="/subject">Subject</a></h2><br>
<h2><a href="/student">Student</a></h2><br>
</center>
</body>
</html>