<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>

  <h2>All Subject Data</h2>

  <table>
    <tr>
      <th>Id</th>
      <th>Subject Name</th>
      <th>Teachers</th>
    </tr>

    <body>
      <% subjects.forEach(function(el) { %>
        <tr>
          <td>
            <%= el.id %>
          </td>
          <td>
            <%= el.subjectName %>
          </td>
          <td><ol>
            <% el.Teachers.forEach(function(val){ %>
              <li> <%= val.getFullName()%> </li>
              <% }) %>
            </ol>
          </td>
        </tr>
        <% }) %>
  </table>
  </body>
</body>

</html>
