<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= title %></h2>
    <form action="/subject" method="post">
      Subject name:<br>
      <input type="text" name="subjectname">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <%- include('./partials/links.ejs')%>
  </body>
</html>
