<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All Subject Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>All Subjects Data</h1>
    <h4><a href="/">Home</a></h4>
    <table>
        <tr>
            <th>id</th>
            <th>Subject Name</th>
            <th>Teacher</th>
        </tr>
        <% subjects.forEach(function(subject) { %> <!--ini subjects key dari app.js-->
            <tr>
            <td><%= subject.id %></td>
            <td><%= subject.name %></td>
            <td>
                <% let counter = 1 %>
                <% subject.Teachers.forEach(function(dataTeacher) { %>
                    <%= `${counter++}. ${dataTeacher.first_name} ${dataTeacher.last_name}` %>
                    <br>
                <% }) %>
            </td>
        </tr>
    <% }) %>
    </table>
</body>
</html>