<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <title>Teacher Form</title>
</head>
<body>
  <h1>Teacher's Form</h1>
  <ul id="list">
    <li><a href="/">Home</a></li>
    <li><a href="/teacher">All Teacher Data</a></li>
  </ul>

  <% if (error !== null) { %>
    <strong><%= error%></strong>
  <% } %>

  <br><br>
  <form action="/teacher/add" method="POST">
    First Name:  <input type="text" name="first_name" placeholder="first name"> 
    <br><br>
    Last Name:  <input type="text" name="last_name" placeholder="last name">
    <br><br>
    Email:  <input type="text" name="email" placeholder="email">
    <br><br>
    Subject Id:  <input type="text" name="SubjectId" placeholder="SubjectId">
    <br><br>
    <button type="submit">submit data</button>
  </form>
</body>
</html>